* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: rgb(251, 246, 246);
  background-image: linear-gradient(60deg, #29323c 0%, #2e3032 100%);
  font-size: 20px;
}

label {
  font-size: 36px;
}

input {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
}

li {
  padding: 6px;
}

label {
  padding-bottom: 30px;
  font-size: 60px;
}

p {
  padding: 20px;
}

.passinfo {
  font-size: 18px;
  color: rgb(172, 169, 169);
}
